In [1]:
import pandas as pd
from sklearn.cluster import KMeans

C:\Users\DELL\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
customers=pd.read_csv('e:/Datasets/Wholesale customers data.csv')

In [3]:
customers.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [4]:
customers.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [17]:
# customer.columns
X = customers [['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen']]
print(X)

     Channel  Region  Fresh   Milk  Grocery  Frozen  Detergents_Paper  \
0          2       3  12669   9656     7561     214              2674
1          2       3   7057   9810     9568    1762              3293
2          2       3   6353   8808     7684    2405              3516
3          1       3  13265   1196     4221    6404               507
4          2       3  22615   5410     7198    3915              1777
..       ...     ...    ...    ...      ...     ...               ...
435        1       3  29703  12051    16027   13135               182
436        1       3  39228   1431      764    4510                93
437        2       3  14531  15488    30243     437             14841
438        1       3  10290   1981     2232    1038               168
439        1       3   2787   1698     2510      65               477

     Delicassen
0          1338
1          1776
2          7844
3          1788
4          5185
..          ...
435        2204
436        2346
437        1867
438        2125
439          52

[440 rows x 8 columns]

In [18]:
# Clustering the customers
# initialize the model
cust_cluster=KMeans(n_clusters=5) # 5 groups of similar customers

In [19]:
# Train the model: No target/label;
cust_cluster.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [20]:
# Generate the labels
labels=cust_cluster.predict(X)

In [21]:
print(labels)

[3 3 3 3 0 3 3 3 3 1 1 3 0 0 0 3 1 3 0 3 0 3 0 1 0 0 3 3 1 0 0 3 0 0 3 3 0
 1 1 4 0 0 1 1 3 1 1 2 3 1 3 3 0 1 0 3 1 1 3 3 3 2 3 1 3 2 3 0 3 3 0 0 3 0
 3 0 3 1 3 3 3 1 3 0 3 2 2 4 3 0 3 3 1 3 1 3 3 3 3 3 1 1 3 4 3 0 1 1 3 1 3
 1 0 3 0 3 3 3 0 3 0 3 3 3 0 4 0 0 3 0 3 3 3 3 3 3 3 3 3 3 0 0 0 3 0 1 3 3
 3 0 0 3 0 3 3 1 1 0 3 1 3 3 3 1 3 1 3 3 3 3 1 1 3 1 3 1 4 3 3 3 3 4 1 4 3
 3 3 3 1 1 0 3 3 1 3 0 0 3 3 3 1 1 0 3 3 1 3 3 3 1 0 2 3 3 1 1 1 0 1 3 3 3
 3 3 3 3 0 3 3 3 3 3 0 3 0 3 3 0 3 4 0 0 0 3 3 1 3 3 0 3 3 1 3 0 3 0 3 3 4
 4 3 3 0 3 1 1 1 0 1 3 3 3 3 0 3 3 0 3 3 0 3 3 4 0 4 0 3 0 0 0 3 3 3 1 0 3
 0 3 3 3 0 1 3 1 1 1 1 0 3 1 3 0 1 3 3 1 3 3 3 1 3 3 0 3 0 4 3 3 0 3 3 1 0
 2 0 0 3 3 3 3 3 3 3 1 3 3 1 0 3 1 3 1 3 1 3 3 0 1 3 3 0 3 3 3 3 3 3 3 0 3
 0 0 3 0 3 3 1 0 3 3 0 0 0 3 1 3 3 0 3 3 3 3 3 0 3 3 1 3 3 3 3 0 0 0 0 3 0
 1 3 3 3 3 3 3 3 3 1 3 1 3 1 0 0 0 0 3 1 0 3 3 1 3 0 3 0 0 0 1 3 3]

In [22]:
# Add the label to dataframe as a new column
customers['Group'] = labels

In [23]:
customers

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Group
0,2,3,12669,9656,7561,214,2674,1338,3
1,2,3,7057,9810,9568,1762,3293,1776,3
2,2,3,6353,8808,7684,2405,3516,7844,3
3,1,3,13265,1196,4221,6404,507,1788,3
4,2,3,22615,5410,7198,3915,1777,5185,0
...,...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204,0
436,1,3,39228,1431,764,4510,93,2346,0
437,2,3,14531,15488,30243,437,14841,1867,1
438,1,3,10290,1981,2232,1038,168,2125,3
439,1,3,2787,1698,2510,65,477,52,3

In [24]:
# Customer belong to group 1

customers[customers['Group'] == 2]

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Group
47,2,3,44466,54259,55571,7782,24171,6465,2
61,2,3,35942,38369,59598,3254,26701,2017,2
65,2,3,85,20959,45828,36,24231,1423,2
85,2,3,16117,46197,92780,1026,40827,2944,2
86,2,3,22925,73498,32114,987,20070,903,2
211,2,1,12119,28326,39694,4736,19410,2870,2
333,2,2,8565,4980,67298,131,38102,1215,2

In [25]:
# predict the single customer
# 1,2,200,250,7000,252,2000,1202
cust_cluster.predict([[1,2,200,250,7000,252,2000,1202]])

array([3])

In [26]:
customers.Group.unique()

array([3, 0, 1, 4, 2])